.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn-header {
  border: 1px solid black;
  cursor: pointer;
}
#action {
  display: inline-block;
}

.imgContainer {
  position: absolute;
  user-select: none;
  border: 1px solid rgb(64, 255, 0);
}


.runner_state_captured {
  cursor: grab;
}