*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  color: black;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

/* - - - - - - - - - - - */
/* - - - - - - - - - - - */

.body-wrapper,
.game-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header, footer  {
  height: 1.5em;
  background-color: peru;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header{
  border-bottom: 1px dashed black;
  justify-content: space-evenly;
}
footer{
  border-top: 1px dashed black;
  justify-content: center;
}

main {
  height: 1vh;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workspace{
  width: 100%;
  flex: 1 1 auto;
  min-width: 50vw;
  overflow: hidden;
  position: relative;
  border: 1px dashed black;
}

h1{
  margin: 25px;
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  text-shadow: 0 0 10px #9C4A1A;
}
h2{
  margin: 10px;
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  text-shadow: 0 0 10px #9C4A1A;
}

/* - - - - - - - - - - - */
/* - - - - - - - - - - - */

.menu {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu input{
  margin: 8px;
}

.btn,
.input {
  border: 1px solid black;
  width: 50%;
  text-align: center;
  font-size: 1em;
  height: 50px;
  margin: 25px 15px;
  font-family: inherit;
}

.btn-fill {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  letter-spacing: 1px;
  padding: 15px 50px 15px;
  outline: 0;
  position: relative;
  
  cursor: pointer;
}

.btn-fill::after {
  content: "";
  background-color: #F7C815;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 12px;
  left: 15px;
  transition: 0.3s;
}

.btn-fill:hover::after {
  top: 0px;
  left: 0px;
}

#main-menu{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  padding: 0 10px;
  border-radius: 3rem;
  border-color: black;
  background-color: #fff;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
#main-menu:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}